.services {
	position: absolute;
	opacity: 0;
	transition: 250ms;
	z-index: 10;
	right: -50%;
	top: 0;
	width: 50%;
	height: 100vh;

	&_active {
		opacity: 1;
		right: 0%;
	}

	&Nav {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		padding: 100px 30px 100px 0;

		&Item {
			display: flex;
			flex-direction: column;
			padding: 30px 50px 38px 25px;
			border-radius: 10px;
			gap: 42px;
			transition: 250ms;

			&Active {
				background-color: #ffa737;

				& > .servicesNavItemTitle {
					color: #fff;
				}

				& > .servicesNavItemHidden {
					display: block;
					opacity: 1;
				}
			}

			&Title {
				display: flex;
				justify-content: space-between;
				color: #232323;
				font-weight: 400;
				font-size: 42px;
				line-height: 48.3px;
				align-items: center;
			}

			&Hidden {
				opacity: 0;
				display: none;
				font-family: 'Source Code Pro', sans-serif;
				font-size: 32px;
				line-height: 40.22px;
				margin: 0;
				transition: 250ms;
			}
		}
	}
}
